// Variables
$dark: #343a40;
$red: #e3342f;
* {
    margin: 0;
    padding: 0;
    font-family: "Ubuntu", sans-serif;
}

a {
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}

// li {
//     list-style-type: none;
// }
@import "components/0-navigation";
@import "components/1-table";
@import "components/2-createUser";
@import "components/3-user";
@import "components/4-repair";