.container {
    #search__bar {
        width: 60%;
        margin: auto;
        display: flex;
        border: 1px solid $dark;
        padding: 4px 8px;
        border-radius: 5px;
        i {
            font-size: 26px;
            margin-top: 10px;
        }
        #search {
            flex: 1;
            border: none;
            outline: none;
            font-size: 20px;
            padding-top: 8px;
            &::placeholder {
                font-size: 20px;
            }
            &:focus {
                box-shadow: none;
            }
        }
    }
    .table {
        tbody {
            td {
                font-size: 20px;
            }
        }
    }
}